---
title: Where To Visit
---

{% include header.html %}
{% include slider.html title=page.title subtitle="Our Favorite Places in Richmond" image="engagement-73"  addedparams="fp-x=0&crop=focalpoint&fit=crop&fp-z=1.2"%}
<style media="screen">
  h2, h3, p.intro-text {
    text-align:center;
  }
</style>


<section class="section-block">
  <div class="container">

    <div class="row">
      <div class="col-sm-8">
        <h2>Church Hill</h2>
        <p class="intro-text">Named for st johns church where patrick henry gave his famous “give me liberty or give me death” speech. Church hill was also where we both lived when we first met. Street parking is abundant in the neighborhood and the old row houses give way to some of our favorite views of the city.</p>
      </div>
      <div class="col-sm-4">
         <div class="photo-item frame-border animation fadeIn animated" style="visibility: visible;">
         <img src="images/churchhill.png" alt="" class="">
         </div>
      </div>
    </div>

    <h3>Where to Eat</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">

        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Union Market</h5>
              </div>
              <div class="places-desc">
                The site of our first date holds a special place in our hearts. Lighter fare can be found here including soups, salads, and sandwiches. “Union” offers gluten free options in addition to wine/beer options and access to locally made desserts.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>The Hill Cafe</h5>
              </div>
              <div class="places-desc">
                Another stop on our first date tour of church hill, and nearly neighbor of Rachel’s when she was a resident of Church Hill, the Hill cafe boasts neighborhood charm while offering everything from a blue plate special to lentil tacos. Must tries here include the shoestring fries and ANY dessert that catches your eye (shout out to you bread pudding!).
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>The Alamo Barbeque</h5>
              </div>
              <div class="places-desc">
                Our favorite bbq in town, alamo does southern bbq the way it ought to be, a funny little building, outdoor seating (heaters for colder days) and heaping portions. The trainwreck gets you everything you really need (and the ability to pick your meat or mushrooms) but we confidently recommend any item on the menu.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Proper Pie Shop</h5>
              </div>
              <div class="places-desc">
                Savory New Zealand style hand held pies in a variety of flavors from sage and beef to thai Seitan. Make sure you save space for some of their sweet pies too, your sweet tooth will thank you! Take your pies over to Libby Hill or Jefferson park and dine while looking out over the city.
              </div>
          </div>
        </div>
      </div>
    </div>

    <h3>What to See and Do</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Jefferson Hill Park</h5>
              </div>
              <div class="places-desc">
                Overlook the city, outdoor exercise equipment, and a playground all in one park. If you're looking for a hill top view of shockoe bottom, or just a open to stretch your legs, this is it.
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Libby Hill Overlook</h5>
              </div>
              <div class="places-desc">
                Home of the view that named Richmond, from here you can see the area of the James River that reminded the original English settlers of Richmond upon Thames so long ago. If you stop by at Sunset, we can guarantee some really great colors reflected on the city too. You may also recognize this as the place where our engagement photos were taken.
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Chimborazo Park</h5>
              </div>
              <div class="places-desc">
                Named for a South American volcano, this wide expanse of open space was once home to the southern capital’s main hospital during the civil war. This park is a part of the Richmond Battlefields National Park and boasts a small museum dedicated to civil war era medicine that packs a lot of information into a quick visit. No charge to visit, donations accepted at the door.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Grace Street Park</h5>
              </div>
              <div class="places-desc">
                 A quick stop that is worth the visit, for a final view of the city. It is possible to see many of the same sites here that can be spotted from the Jefferson Park Overlook, this spot offers a quieter view of the city and is located next to the Richmond Monastery
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>St John’s Church</h5>
              </div>
              <div class="places-desc">
                Home of Patrick Henry’s famous speech and directly on top of Church Hill, this little white Episcopal church is still being used to this day. If the gates are open, check out the grounds before heading to the back right corner to check in for a tour (there is a fee associated with the tour, wandering the grounds is free)
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>The Fan / Museum District</h2>
        <p class="intro-text">Where we live now and love it. This area is where the streets “fan” out from downtown as you move from east to west. This area is Home to some of the cutest front porches in the city, a velociraptor (at Floyd and Strawberry St's), hidden parks, and big museums, our current neighborhood is pretty darn cute! Note that parking in the fan is largely permitted and can be tricky, museum district parking is typically easier to find.</p>
      </div>
      <div class="col-sm-4">
         <div class="photo-item frame-border animation fadeIn animated" style="visibility: visible;">
         <img src="images/thefan.png" alt="" class="">
         </div>
      </div>
    </div>

    <h3>Where to Eat</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-8">
          <div class="places-card">
              <div class="places-title">
                <h5>Kuba Kuba</h5>
              </div>
              <div class="places-desc">
                A neighborhood place that has been in the fan for decades, this cuban eatery is good for breakfast, lunch, or dinner and wont let you walk out the door hungry. We recommend getting some plantains with your meal and putting habanero carrot hot sauce on just about anything you're looking to add more heat to. We cool off with the limeade or cafe con leche depending on the time of day.
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="places-card">
            <div class="places-title">
              <h5>En Su Boca</h5>
            </div>
            <div class="places-desc">
              Tex Mex richmond style. Big art, industrial surroundings, and delicious food. We love coming here for nachos, margaritas, street corn, and fried fish tacos.
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="places-card">
            <div class="places-title">
              <h5>Sabai</h5>
            </div>
            <div class="places-desc">
              Thai food with a Richmond twist. We love sharing an appetizer and an entre here while watching people swing on the suspended benches. From curry to whole fish, whatever tickles your thai tastes, Sabai will have an option to suit you.
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="places-card">
            <div class="places-title">
              <h5>Joe's Inn</h5>
            </div>
            <div class="places-desc">
               A neighborhood favorite a for Italian food and good southern brunch.
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="places-card">
            <div class="places-title">
              <h5>Garnetts </h5>
            </div>
            <div class="places-desc">
              A cozy corner sandwich shop with unique combinations.
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="places-card">
            <div class="places-title">
              <h5>Scoops</h5>
            </div>
            <div class="places-desc">
              An ice cream shop started by the owner of a bake shop. Stop here to try some of our favorite ice cream in the city. While there isn't a lot of space to stay and eat inside, there are benches outside or a quick walk down the alley directly across the street will
            </div>
        </div>
      </div>
    </div>
    <h3>What to See and Do</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-12">
          <div class="places-card">
              <div class="places-title">
                <h5>Virginia Museum of Fine Arts (vmfa)</h5>
              </div>
              <div class="places-desc">
                Free to the public and home of one of our most favorite hangout spots. Explore the green space outside in the sculpture garden or head inside to see pieces from around the world and throughout history. Favorite permanent exhibits include: Indian art (3rd floor) and the recently refinished Faberge egg display. Stop in to see “Awaken: A Tibetan Buddhist Journey Toward Enlightenment” opens on our wedding day so if you’re in town early, this may be a nice way to spend the day.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Virginia Historical Society (VHS)</h5>
              </div>
              <div class="places-desc">
                Stop by for displays on Virginia history at no charge, including exhibits from each of the eight (yes EIGHT) presidents who called Virginia home. Th current exhibit is about the fourth Chief Justice of the Supreme Court, John Marshall.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Virginia Science Museum</h5>
              </div>
              <div class="places-desc">
                A small entry fee purchases access to a wide range of exhibits. The science museum takes their task seriously in covering everything from human anatomy to interstellar travel in one building— the dinosaur exhibit is particularly interesting and is directly next to the imax theater— stop in and see what's playing. The science museum parking lot boasts some of the city’s only public car charging stations, along with access to the children's museum next door.              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Cary Town</h2>
        <p class="intro-text">With a small town main street feel, Carytown is home to a wide variety of restaurants and cafes as well as some of our favorite shops and home to some unique Richmond finds. There are two parking decks on side streets (S. Colonial Ave and S. Crenshaw Ave) in addition to a large parking lot at Carytown Court in case your parallel parking skills are not what they were during drivers ed!</p>
      </div>
      <div class="col-sm-4">
         <div class="photo-item frame-border animation fadeIn animated" style="visibility: visible;">
         <img src="images/carytown.png" alt="" class="">
         </div>
      </div>
    </div>

    <h3>Where to Eat</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>The Daily Kitchen</h5>
              </div>
              <div class="places-desc">
                Organic and local served fresh. This trendy dining option is suitable for meeting just about any food requirements with a modern flare.
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Can Can Brasserie</h5>
              </div>
              <div class="places-desc">
                A little bit of France in the heart of Carytown, we love CanCan for the same reasons we love France, bread, cheese, and wine!
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Burger Bach</h5>
              </div>
              <div class="places-desc">
                New Zealand inspired burgers (with turkey/lamb/veggie/gluten free options to boot!) that are served with a side of healthy greens. The unique options here are sure to delight and with dips so good we don't even mind having to pay a little extra for our fries.
              </div>
          </div>
        </div>
      </div>
    </div>
    <h3>What to See and Do</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Mongrel</h5>
              </div>
              <div class="places-desc">
                A card store and more, this little shop has a wide variety of cards for just about any occasion as well as sections dedicated to upcoming holidays and Richmond memorabilia. Stop here to find that thing you never knew you needed but are totally tickled to find.
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>For the Love of Chocolate</h5>
              </div>
              <div class="places-desc">
                 In case your sweet tooth just can't wait for the cake, or you don't get enough (we hope this doesn't happen!) For The Love of Chocolate will have you covered. More than just chocolate this cozy candy store is positively packed with anything your heart desires (candy wise of course!) even if you aren’t looking for a special sweet the selection is enough to impress just about anyone.
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Creme de la Creme</h5>
              </div>
              <div class="places-desc">
                Another bit of France in Carytown this gift shop carries items that transport you from the 804 to an exotic European excursion and back in the amount of time it takes you to walk through the door.
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>Scott's Addition</h2>
        <p class="intro-text">A former warehouse district that has taken a very different path, scott's addition helped Richmond earn a reputation as the city with more breweries per square mile than any other city in the United States.</p>
      </div>
      <div class="col-sm-4">
         <div class="photo-item frame-border animation fadeIn animated" style="visibility: visible;">
         <img src="images/Scotts Addition.png" alt="" class="">
         </div>
      </div>
    </div>
    <h3>Where to Eat</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Lunch/Supper</h5>
              </div>
              <div class="places-desc">
                These two restaurants are not so secretly owned by the same proprietor and are parked side by side in Scott's Addition. They offer Southern food and frequently, a long wait. Pros go early, put their names on the texting list, and head over to a brewery to wait for their turn to eat some of the best southern food in Richmond. If you're here for Brunch we strongly recommend a trainwreck to give you the best taste of a some southern charm.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
              <div class="places-title">
                <h5>Fat Dragon</h5>
              </div>
              <div class="places-desc">
                Chinese food that makes you wonder what that other stuff you've been picking up on Friday nights has been. We recommend the green beans and stepping outside your comfort zone while ordering... if the name is throwing you off too much, we also recommend Peter Chang's, located just around the corner and featuring bubble pancakes sure to get you another like on your Instagram post.
              </div>
          </div>
        </div>
      </div>
    </div>
    <h3>What to See and Do</h3>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>The Veil Brewing Company</h5>
              </div>
              <div class="places-desc">
                Home to seriously small brews, just about everything here is an IPA (there are a few options that aren't). Even though the offerings here change regularly, the Veil is still the reason for most of Scott's Addition Tuesday evening traffic jams as people line up out the neighborhood for a chance to try the weekly release.
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Buskey Cider</h5>
              </div>
              <div class="places-desc">
                Cider in Richmond that has featured options such as a Jalapeno brew, and a Watermelon thirst quencher. It's hard to predict exactly what you'll find here, but we know we love visiting Buskey for some of the best cider in the city.
              </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="places-card">
              <div class="places-title">
                <h5>Ardent Brewery</h5>
              </div>
              <div class="places-desc">
                One of Richmond's Main brewers. If you're not sure what kind of beer you like, we're sure you can find something at Ardent that is in the middle ground. It's hard to go wrong with any pick from their menu, and if you don't find something to your fancy, we recommend heading across the street to the Circuit barcade to take your frustrations out on the games than hold it against one of our favorite breweries.
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-block">
  <div class="container">
    <h2>Further Away</h2>
    <p class="intro-text">But worth checking out</p>
    <div class="row">
      <!-- PLACES CAROUSEL -->
      <div id="places-around" class="animation fadeInUp animated" style="visibility: visible;">
        <div class="col-md-6">
          <div class="places-card">
            <div >
                 <a href="https://maymont.org/" target="_blank">
                   <img style="    height: 135px;  margin-bottom: 22px;" src="images/maymont.png" alt="" class="">
                 </a>
              </div>

              <div class="places-desc">
                A free park left to the city of Richmond by the Dooley Family, Maymont gardens feature several different cultivated gardens as well as rescue animals who cannot be released back into the wild, and the chance to pet goats. Tours of the House do cost a small fee, but if the sound of seeing a bed that is shaped like a swan tickles your fancy, we can assure you, it's well worth it.
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="places-card">
            <div >
                <a href="https://www.lewisginter.org/" target="_blank">
                  <img style="height:155px" src="images/lewisginter.png" alt="" class="">
                </a>
              </div>
              <div class="places-desc">
                Richmond's very own botanical gardens that are a favorite of Colin and Rachel's for the Million Blooms which will be going on in April! Distinct gardens with complementary flowering bulbs and they are only 10 minutes North of the city.
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% capture extrascripts %}

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTnAC_eJUxEBcpinwv2WlAvQ301HSTipw"></script>
  <script type="text/javascript" src="js/markerlabel/markerwithlabel.js"></script>
  <script type="text/javascript" src="js/visit-map.js"></script>

{% endcapture %}

{% include footer.html scripts=extrascripts%}
