---
title: The Wedding
---

{% include header.html %}
{% include slider.html title=page.title subtitle="" image="engagement-4-edit2" addedparams="fit=crop&crop=focal&fp-y=.59 " %}

<!--ELEMENTS-3 SECTION-->
<section id="elements-3-section" class="section-block more-grey">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
              <h2 class="animation fadeInUp">The Venue</h2>
                <p class="intro-text animation fadeInUp"></p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 animation fadeInUp">
              <h3 class="h4">Seven Springs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis. Duis et neque pharetra, sagittis nisi nec, egestas risus.</p>

                <h3 class="h4">Address</h3>
                <div class="row">
                  <div class="col-md-6 text-center">
                    <p><a target="_blank" href="https://www.google.com/maps/place/Seven+Springs/@37.7477818,-77.2241493,15z/data=!4m12!1m6!3m5!1s0x89b127078f5668e9:0x524165f6d30799b1!2sSeven+Springs!8m2!3d37.7477465!4d-77.224153!3m4!1s0x89b127078f5668e9:0x524165f6d30799b1!8m2!3d37.7477465!4d-77.224153">
                      Seven Springs <br>
                      6831 Dabneys Mill Rd <br>
                      Manquin, VA 23106
                    </a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-6 animation fadeInUp">
              <div class="photo-item animation fadeIn">
              <img src="https://gcyantis.imgix.net/CKP-34.jpg?auto=format&h=800&w=1200" alt="" class="">
              </div>

              <!-- <div id="map-canvas-1"></div> -->
            </div>
        </div>
    </div>
</section>

<section>
<div id="map-canvas-3"></div>
 </section>

<section id="wedding-section" class="section-block more-grey">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
              <h2 class="animation fadeInUp">Order of Events</h2>
                <p class="intro-text animation fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada aliquam nunc a pharetra. Pellentesque sit amet placerat magna. Nam ut interdum urna, vitae consequat odio. Nullam porttitor sagittis ex quis venenatis. Duis et neque pharetra, sagittis nisi nec, egestas risus. Nam quis laoreet lacus. Integer lobortis quam ut eros mollis efficitur. In sit amet orci at nisi lobortis.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="event-card animation fadeInUp">
                  <h5 style="margin-bottom:30px;">BUSES</h5>
                  <p>3:45 PM </p>
                  <p>Buses depart from the front of Linden Row Inn to the event at Seven Springs.</p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="event-card animation fadeInUp">
                  <h5 style="margin-bottom:30px;">CEREMONY</h5>
                    <p>4:30 PM </p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="event-card animation fadeInUp">
                  <h5 style="margin-bottom:30px;">COCKTAIL HOUR</h5>
                    <p>5 PM </p>
                    <p>Enjoy drinks and hors d'oeuvres while we get our pictures taken.</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="event-card animation fadeInUp">
                <h5 style="margin-bottom:30px;">RECEPTION</h5>
                  <p>6 PM </p>
                  <p>Speaches, food, cake, dancing and more!</p>
              </div>
          </div>
          <div class="col-md-4">
            <div class="event-card animation fadeInUp">
                <h5 style="margin-bottom:30px;">SPARKLER EXIT</h5>
                  <p>10:15 PM </p>
                  <p>Send us off with sparklers before heading on your way.</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="event-card animation fadeInUp">
                  <h5 style="margin-bottom:30px;">BUSES</h5>
                  <p>10:30 PM </p>
                  <p>Buses return to Linden Row Inn.</p>
                </div>
            </div>

        </div>
    </div>
</section>

{% capture extrascripts %}

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTnAC_eJUxEBcpinwv2WlAvQ301HSTipw"></script>
  <script type="text/javascript" src="js/markerlabel/markerwithlabel.js"></script>
  <script type="text/javascript" src="js/wedding-map.js"></script>

{% endcapture %}

{% include footer.html scripts=extrascripts%}
