---
title: The Wedding
---

{% include header.html %}
{% include slider.html title=page.title subtitle="" image="engagement-4-edit2" addedparams="fit=crop&crop=focal&fp-y=.56 " %}

<!--ELEMENTS-3 SECTION-->
<section id="elements-3-section" class="section-block more-grey">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-1 col-md-10 text-center">
              <h2 class="animation fadeInUp">The Venue</h2>
                <p class="intro-text animation fadeInUp">
                    We're excited to invite you to Seven Springs for both our ceremony and reception.
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6 animation fadeInUp">
              <h3 class="h4">Seven Springs</h3>
                <p>
                  Situated at the end of a private drive in King William County, just 40 minutes from Richmond, the Seven Springs Manor House was built between 1725-1740 by the Dabney family.
                  Operating as a private residence for many years, the Seven Springs campus was expanded in the early 1980’s to include a number of new living spaces. Today, Seven Springs
                  is an event venue and farm for a small flock of heritage breed Hog Island sheep. Additionally, the house has
                  been placed on the National Register of Historic Places and is a Virginia Historic Landmark.
                </p>
                <p>Read more about the <a href="https://sevenspringsva.com/history/" style="text-decoration:underline;" target="_blank">History of Seven Springs</a> on their site. </p>

                <h3 class="h4">Address</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p><a target="_blank" href="https://www.google.com/maps/place/Seven+Springs/@37.7477818,-77.2241493,15z/data=!4m12!1m6!3m5!1s0x89b127078f5668e9:0x524165f6d30799b1!2sSeven+Springs!8m2!3d37.7477465!4d-77.224153!3m4!1s0x89b127078f5668e9:0x524165f6d30799b1!8m2!3d37.7477465!4d-77.224153">
                      Seven Springs <br>
                      6831 Dabneys Mill Rd <br>
                      Manquin, VA 23106
                    </a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-6 animation fadeInUp">
              <div class="photo-item animation fadeIn">
              <img src="https://gcyantis.imgix.net/CKP-34.jpg?auto=format&h=800&w=1200" alt="" class="">
              </div>

              <!-- <div id="map-canvas-1"></div> -->
            </div>
        </div>
    </div>
</section>

<section>
<div id="map-canvas-3"></div>
 </section>

 <section id="content">
   <!-- OUR STORY SECTION -->
     <section id="story-section" class="section-block more-grey">
        <div class="container">

          <div class="row">
              <div class="col-md-offset-1 col-md-10 text-center">
                  <h2 class="animation fadeInUp">Order of Events</h2>
                    <p class="intro-text animation fadeInUp"></p>
                </div>
            </div>

       <!-- STORY Right-->
       <div class="row story-row">

            <div class="col-sm-12 col-md-5 col-md-push-7 text-center">
            </div>

            <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
              <div class="story-date">
                    <div class="the-year">3:45</div>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInLeft  text-right">
                <h5>BUSES</h5>
                <p>Buses depart from the front of Linden Row Inn to the event at Seven Springs.</p>
            </div>

            <div class="vertical-line">
            </div>

</div><!-- END of STORY ROW-1 -->


<!-- STORY Left-->
<div class="row story-row">

     <div class="col-sm-12 col-md-5  text-center">
     </div>

     <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
       <div class="story-date">
             <div class="the-year">4:30</div>
         </div>
     </div>

     <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
       <h5>CEREMONY</h5>
         <p><strong>Don't be late!</strong></p>
     </div>

     <div class="vertical-line">
     </div>

</div><!-- END of STORY ROW-2 -->


<!-- STORY Left-->
<div class="row story-row">

<div class="col-sm-12 col-md-5 col-md-push-7 text-center">
</div>

<div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
<div class="story-date">
      <div class="the-year">5:00</div>
  </div>
</div>

<div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInLeft  text-right">
<h5>COCKTAIL HOUR</h5>
  <p>Enjoy drinks and hors d'oeuvres while we get our pictures taken.</p>
</div>

<div class="vertical-line">
</div>

</div><!-- END of STORY ROW-2 -->
<!-- STORY Right-->
<div class="row story-row">

     <div class="col-sm-12 col-md-5 text-center">
     </div>

     <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
       <div class="story-date">
             <div class="the-year">6:00</div>
         </div>
     </div>

     <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
         <h5>RECEPTION</h5>
         <p>Speeches, food, cake, dancing and more!</p>
     </div>

     <div class="vertical-line">
     </div>

</div><!-- END of STORY ROW-1 -->


<!-- STORY Left-->
<div class="row story-row">

<div class="col-sm-12 col-md-5 col-md-push-7 text-center">
</div>

<div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
<div class="story-date">
      <div class="the-year">9:45</div>
  </div>
</div>

<div class="col-sm-12 col-md-5 col-md-pull-7 animation delay1 fadeInLeft  text-right">
<h5>SPARKLER EXIT</h5>
  <p>Send us off with sparklers before heading on your way.</p>
</div>

<div class="vertical-line">
</div>

</div><!-- END of STORY ROW-2 -->
<!-- STORY Right-->
<div class="row story-row">

     <div class="col-sm-12 col-md-5 text-center">
     </div>

     <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
       <div class="story-date">
             <div class="the-year">10:00</div>
         </div>
     </div>

     <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
         <h5>BUSES</h5>
         <p>Buses return to Linden Row Inn.</p>
     </div>

     <div class="vertical-line">
     </div>

</div><!-- END of STORY ROW-1 -->


</div>
    </section>
</section>

{% capture extrascripts %}

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTnAC_eJUxEBcpinwv2WlAvQ301HSTipw"></script>
  <script type="text/javascript" src="js/markerlabel/markerwithlabel.js"></script>
  <script type="text/javascript" src="js/wedding-map.js"></script>

{% endcapture %}

{% include footer.html scripts=extrascripts%}
