<!-- GALLERY ITEM-1 -->
<!-- ======================================================= -->
<div class="masonry-col w33 animation fadeIn">

  <!--PHOTO-ITEM-->
  <div class="photo-item animation fadeIn">

    <!--PHOTO-->
    <img src="https://gcyantis.imgix.net/{{ include.image }}.jpg?auto=format&w=400&fit=clip" alt="" class="hover-animation image-zoom-in">

    <!--PHOTO OVERLAY-->
    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
    </div>
    <!--END of PHOTO OVERLAY-->

    <!--ICON LINK-->
    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
      <div class="alignment">
        <div class="v-align center-middle">

          <a href="https://gcyantis.imgix.net/{{ include.image }}.jpg?auto=format&w=1920&h=1920&fit=clip" class="magnific-zoom-gallery" title="{{ include.image }}">
            <div class="de-icon circle light medium-size inline">
              <i class="de-icon-zoom-in"></i>
            </div>
          </a>

        </div>
      </div>
    </div>
    <!--END of ICON LINK-->

  </div>
  <!--END of PHOTO-ITEM-->

</div>
<!-- END of GALLERY ITEM-1 -->
